{% extends "base.html" %}
{% load static %}

{% block title %}
Корзина
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
{% for product in cart_items.product.all %}
<div class="container cards" >
    <div class="row justify-content-between">
      <div class="col-md-10">
        <div class="card mb-10 box-shadow " style="width: 19rem; background-color:rgba(240, 248, 255, 0.76); margin-top: 10px;">
          <img class="card-img-top" src="{{product.image.url}}" >
          <div class="card-body">
            <h1 class="card-text">{{product.name}}</h1>
            <div class="d-flex justify-content-between align-items-center">
                      <div class='btn-group'>
                          <a href="{% url 'delete' product.id %}"><button type="submit" class="btn btn-sm btn-outline-secondary">Удалить</button></a>
                          <a href="{% url 'product_info' product.id %}"> <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button> </a>
                      </div>
                <div>
                <small class="text-muted">Цена: {{product.price}} Руб.</small>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
{% endfor %}
{% endblock content %}

