{% extends "base.html" %}
{% load static %}

{% block title %}
Продукты
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
{% for product in products %}
<div class="container cards" >
    <div class="row justify-content-between" style="margin-top: 10px;">
      <div class="col-md-10">
        <div class="card mb-10 box-shadow " style="width: 15rem; background-color:rgba(240, 248, 255, 0.76)">
          <img class="card-img-top" src="{{product.image.url}}" >
          <div class="card-body">
            <h1 class="card-text">{{product.name}}</h1>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a href="{% url 'product_info' product.id %}"> <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button> </a>
                </div>
                <small class="text-muted">Цена: {{product.price}} Руб.</small>
            </div>
        </div>
      </div>
    </div>
</div>
{% endfor %}
{% endblock content %}

