{% extends "base.html" %}
{% block title %}
Информация о продуктах
{% endblock %}
{% block content %}

<div class='container'>
<h1>{{product.name}} </h1>
<img src="{{product.image.url}}" alt="None" width="250"> <br>
<h2>Описание</h2>
{{product.description}}<br>
<h2>Цена: {{product.price}} Руб.</h2>
<h2>В наличии: {{product.stock}}</h2>
{% if request.user.is_authenticated %}
    {% if product not in user_products.product.all %}
    <form action="{% url 'add' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-primary">Добавить в корзину.</button>
    </form>
    {% else%}
    <a href="{% url 'cart' %}"><button type="submit" class="btn btn-sm btn-secondary">Товар был добавлен в корзину.</button></a>
    {% endif %}
{% else %}
<a href="{% url 'login' %}"><button type="submit" class="btn btn-sm btn-secondary">Пожалуйста, войдите в аккаунт.</button></a>
</div>
{% endif %}
{% endblock %}